{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}
    <form method="POST" class="post" style="background-color:rgba(0, 0, 0, 0.8); color: white; padding: 40px; margin: 20px;">  
        {% csrf_token %}
        <h2>Desea eliminar el registro de {{producto.nombre_producto}}</h2>

        <button class="btn btn-danger" type="submit">Si,eliminar</button>
        <a class="btn btn-default" href="{% url 'productos' %}">Cancelar</a>
    </form>
{% endblock %} 	
9
	
Pulpo
	
